body{
    background-color: #FFF;
    display: flex;
    font-family: "Crimson Text", serif;
    justify-content: center;
    margin: 15px 0px;
}
h1{
    margin: 0;
}
a{
    text-decoration: none;
}
select{
    border: 0px;
}
.frame{
    background: url(/img/li-phone.png);
    border-radius: 40px;
    box-shadow: 0px 0px 15px 0px rgba(66, 72, 116, 0.45);
    display: flex;
    flex-direction: column;
    height: 932px;
    width: 430px;
}
.inner{
    padding: 60px 30px 0px;
    flex: 1;
}
.container{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.nav{
    align-items: center;
    border-radius: 0px 0px 40px 40px;
    box-shadow: 0px 0px 10px 0px rgba(66, 72, 116, 0.2);
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    width: 370px;
}
.nav-items{
    align-items: center;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    height: 60px;
    justify-content: center;
    width: 60px;
    transition: transform .4s, background-color 0.2s ease;
}
.nav-items:hover{
    background:#DCD6F7;
    transform: scale(0.9);
}
.floating{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 730px 0px 0px 340px;
    border-radius: 100%;
    box-shadow: 0px 4px 10px 0px #A6B1E1;
    background: #424874;
    height: 60px;
    width: 60px;
}
.schedule{
    border-bottom: 2px solid #424874 ;
}



.align-center{
    align-items: center;
}
.b-42{
    background: #424874;
}
.b-a6{
    background: #A6B1E1;
}
.b-dc{
    background: #DCD6F7;
}
.b-f4{
    background: #F4EEFF;
}
.c-1e{
    color: #1E1E1EE1;
}
.c-42{
    color: #424874;
}
.c-a6{
    color: #A6B1E1;
}
.c-dc{
    color: #DCD6F7;
}
.c-f4{
    color: #F4EEFF;
}
.d-flex{
    display: flex;
}
.d-grid{
    display: grid;
}
.ff-l{
    font-family: "Libre Baskerville", serif;
}
.ff-c{
    font-family: "Crimson Text", serif;
}
.flex-column{
    flex-direction: column;
}
.fw-600{
    font-weight: 600;
} 
.fw-700{
    font-weight: 700;
} 
.fs-14{
    font-size:14px;
}
.fs-16{
    font-size:16px;
}
.fs-18{
    font-size:18px;
}
.fs-24{
    font-size:24px;
}
.fs-26{
    font-size:26px;
}
.fs-32{
    font-size:32px;
}
.gap-5{
    gap: 5px;
}
.gap-8{
    gap: 8px;
}
.gap-10{
    gap: 10px;
}
.gap-20{
    gap: 20px;
}
.gap-30{
    gap: 30px;
}
.h-28p{
    height: 28px;
}
.h-36p{
    height: 36px;
}
.h-40p{
    height: 40px;
}
.h-45p{
    height: 45px;
}
.h-200p{
    height: 200px;
}
.justify-space-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.lh-16{
    line-height: 16px;
}
.lh-18{
    line-height: 18px;
}
.lh-24{
    line-height: 24px;
}
.m-0{
    margin: 0px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-50{
    margin-bottom: 50px;
}
.mt-30{
    margin-top: 30px;
}
.place-center{
    place-items: center;
}
.p-20{
    padding: 20px;
}
.pt-10{
    padding-top: 10px;
}
.pb-5{
    padding-bottom: 5px;
}
.py-8{
    padding-top: 8px;
    padding-bottom: 8px;
}
.py-10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.px-9{
    padding-right: 9px;
    padding-left: 9px;
}
.px-16{
    padding-right: 16px;
    padding-left: 16px;
}
.rounded-15{
    border-radius: 15px;
}
.rounded-30{
    border-radius: 30px;
}
.w-16p{
    width: 16px;
}
.w-28p{
    width: 28px;
}
.w-40p{
    width: 40px;
}
.w-50p{
    width: 50px;
}
.w-175p{
    width: 175px;
}
.w-200p{
    width: 200px;
}
.text-center{
    text-align: center;
}
.text-end{
    text-align: end;
}
.transform-min:hover{
    transform: scale(0.9);
}
.transform-max:hover{
    transform: scale(1.2);
}
.transition-ease{
    transition: transform .4s, background-color 0.2s ease;
}



.cb {
    display: block;
    position: relative;
    cursor: pointer;
}
.text {
    position: absolute;
    left: 26px;
    top: 1px;
    width: 160px;
    cursor: pointer;
    font-size: 16px;
    line-height: 16px;
    margin-top: 2.4px;
    color: #1E1E1EE1;
}
.cb input {
    opacity: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #1E1E1EE1;
    border-radius: 100%;
    height: 10.67px;
    width: 10.67px;
    background-color: #DCD6F7;
    margin-top: 3.4px;
}
.cb input:checked ~ .checkmark {
    background-color: #A6B1E1;
    border: 2px solid #A6B1E1;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.cb input:checked ~ .checkmark:after {
    display: block;
}  
.cb .checkmark:after {
    left: 3px;
    width: 2.8px;
    height: 6.5px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.cb input:checked ~ .text {
    text-decoration: line-through;
    color: #A6B1E1;
}