body{
    background-color: #FFF;
    display: flex;
    font-family: "Crimson Text", serif;
    justify-content: center;
    margin: 15px 0px;
}
h1{
    margin: 0;
}
a{
    text-decoration: none;
}
select{
    border: 0px;
}
.frame{
    background: url(/img/li-phone.png);
    border-radius: 40px;
    box-shadow: 0px 0px 15px 0px rgba(66, 72, 116, 0.45);
    display: flex;
    flex-direction: column;
    height: 932px;
    width: 430px;
}
.inner{
    padding: 60px 30px 0px;
    flex: 1;
}
.container{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.nav{
    align-items: center;
    border-radius: 0px 0px 40px 40px;
    box-shadow: 0px 0px 10px 0px rgba(66, 72, 116, 0.2);
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    width: 370px;
}
.nav-items{
    align-items: center;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    height: 60px;
    justify-content: center;
    width: 60px;
    transition: transform .4s, background-color 0.2s ease;
}
.nav-items:hover{
    background:#DCD6F7;
    transform: scale(0.9);
}



.align-center{
    align-items: center;
}
.b-42{
    background: #424874;
}
.b-a6{
    background: #A6B1E1;
}
.b-dc{
    background: #DCD6F7;
}
.b-f4{
    background: #F4EEFF;
}
.c-1e{
    color: #1E1E1EE1;
}
.c-42{
    color: #424874;
}
.c-a6{
    color: #A6B1E1;
}
.c-dc{
    color: #DCD6F7;
}
.c-f4{
    color: #F4EEFF;
}
.d-flex{
    display: flex;
}
.d-grid{
    display: grid;
}
.ff-l{
    font-family: "Libre Baskerville", serif;
}
.ff-c{
    font-family: "Crimson Text", serif;
}
.fw-600{
    font-weight: 600;
} 
.fw-700{
    font-weight: 700;
} 
.fs-14{
    font-size:14px;
}
.fs-18{
    font-size:18px;
}
.fs-24{
    font-size:24px;
}
.fs-26{
    font-size:26px;
}
.gap-10p{
    gap: 10px;
}
.gap-30p{
    gap: 30px;
}
.h-28p{
    height: 28px;
}
.h-36p{
    height: 36px;
}
.justify-space-between{
    justify-content: space-between;
}
.lh-16{
    line-height: 16px;
}
.lh-18{
    line-height: 18px;
}
.py-8{
    padding-top: 8px;
    padding-bottom: 8px;
}
.py-10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.px-16{
    padding-right: 16px;
    padding-left: 16px;
}
.rounded-30{
    border-radius: 30px;
}
.w-28p{
    width: 28px;
}
.w-175p{
    width: 175px;
}
.text-center{
    text-align: center;
}
.transform-min:hover{
    transform: scale(0.9);
}
.transform-max:hover{
    transform: scale(1.2);
}
.transition-ease{
    transition: transform .4s, background-color 0.2s ease;
}

  